body {padding-top:50px;}
/*Navbar*/
 .navbar-default{
	background-color:#2070bc;
	background-image:none;
	border:none;
	}
	
.navbar .nav li a {
	color:white;
	font-family:font-family: 'Josefin Sans', sans-serif;
	}

.navbar .nav li a:hover{
	color:black;
}

/*Navbar End*/

/*Jumbotron*/
.jumbotron{
	background-image:url(../img/budapestwallpapereffected.jpg);
	height:100%;
	background-repeat:no-repeat;
	text-align:center;
	
	}

.jumbotron h1{
	padding-top:15%;
	color:white;
	font-family: 'Arvo', serif;
	font-size:54px;
}

.jumbotron p{
	color:white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:32px;
}
/*jumbotron End*/

/*Képességek*/
.row{
	height:50%;
	background-color:white;
	text-align:center;
	line-height:40px;
	}

.row h2 {
	color:black;
	text-decoration:underline;
	font-size:35px;
	font-family: 'Slabo 27px', serif;
	}
	
.row p {
	font-size:17px;
	font-family: 'PT Sans Narrow', sans-serif;
	}

#fejlesztes h2 {
	color:blue;
}

#design h2{
	color:green;
}

#rendszerek h2{
	color:red;
}
/*Képességek End*/
